/* Search Bar */
.search-bar {
  flex: 4;
  display: flex;
  align-items: center;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

.search-bar input:focus {
  border-color: #5fba7d;
}
