.filter-btns {
  display: flex;
  gap: 5px;
  width: 30%;
  height: 22px;
  border-radius: 5px;
  align-self: flex-end;
  margin-bottom: 10px;
}

.filter-btn {
  padding: 4px 5px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.filter-btn.active {
  background-color: #5fba7d;
  color: #fff;
}

.filter-btn:not(.active) {
  background-color: #e0e0e0;
  color: #333;
}

@media (max-width: 655px) {
  .filter-btns {
    align-self: flex-start;
    margin-bottom: 0;
  }
}