*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Search Bar */
.search-bar {
  display: flex;
  height: 40px;
  align-items: center;
  width: 100%;
  max-width: 280px; 
  border: 1px solid #ccc;
  border-radius: 25px; 
  padding: 10px 15px;
  background-color: #fff;
  box-sizing: border-box; 
  overflow: hidden;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 5px 0;
}

.search-bar input:focus {
  border-color: #5fba7d;
}

.search-icon {
  color: #aaa;
  margin-right: 10px;
  margin-top: 6px;
  font-size: 18px;
}

@media (max-width: 655px) {
  .search-bar{
    max-width: 100%;
  }
}