/* Main Container */
body{
  background-color: #e5f3e7;
}
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Todo App Container */
.todo-app {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 655px) {
  .app-container{
    height: 100vh;
    min-width: 100vw;
  }
  .todo-app {
    max-width: 85%;
  }

  .filter-btn {
    font-size: 12px;
    padding: 6px 10px;
  }

  .task-item {
    padding: 8px;
  }

  .task-name {
    font-size: 14px;
  }

  .add-task-form input,
  .add-task-form button {
    font-size: 14px;
    padding: 8px;
  }
}
